<br><br>

<div class="flex-container">
  <div class="row">
    <div class="col-auto" *ngFor="let folder of folders; let img of imagesUrl ">
      <div class="card" style="width: 18rem;">

        <img class="card-img-top" 
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" 
        alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><label for="email">Student Email:</label>{{folder}}@students.latrobe.edu.au</p>
        </div>
      </div>
      <label class="btn btn-primary">{{folder}}</label>

    </div>

  </div>
</div>

