.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 40%;
  height: auto;
  margin: 30px;
  max-width: 250px;
  float: left;
  box-shadow: 0 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
}


.card:hover{
  opacity: 0.4;
  transition: background-color 2s ease-out;
}



.flex-container{
  box-shadow: 10 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
max-width: 70%;
}
.spaces{
  background-color: aqua;
  max-width: 60%;
}

