<div id="contentToConvert" class="flex-container">
  <div id="image" class="card">
    <img id="rateImage" src="{{imageUrl}}">
  </div>
  <div>
    <h1>Rating:
    <bar-rating [(rate)]="rate" [readOnly]="false" [max]="6" [theme]="'stars'" [showText]="true" (rateChange)="changeRating($event)"
      [titles]="['Very Bad', 'Bad' , 'Fair', 'Good', 'Very Good', 'Excellent']">
    </bar-rating>
  </h1>
  <button class="btn btn-primary"(click)="downloadImage()">Download Image</button>
  </div>
  <div id="descriptions" class="col">
    <div class=" description">
      <pre style="display:grid"><h1 class="badge badge-secondary">Image description</h1></pre>
      <pre>Name: {{imageDetails.filename}}</pre>
      <pre>Description: {{imageDetails.description}}</pre>
      <pre>Notes: {{imageDetails.notes}}</pre>
      <pre>Date & Time: {{imageDetails.datetime}}</pre>
      <pre>Latitude: {{imageDetails.location.latitude}}</pre>
      <pre>Longitude: {{imageDetails.location.longitude}}</pre>
      <pre>dFov: {{imageDetails.dFov}}</pre>
      <pre>PPM: {{imageDetails.ppm}}</pre>
      <button (click)="downlaodDescription()" class="btn btn-primary"> Download Description</button>
    </div>
  </div>
  <br>
  <div id="legend" class="legend">
    <pre style="display:grid"><h1 class="badge badge-secondary">Legend</h1></pre>
    <pre *ngFor="let attr of imageDetails.legend; let i = index">
      <img src="{{legendImages[i]}}" alt="attr.text"> 
      <p class="badge badge-info">{{attr.text}}</p>
    </pre>
    <button (click)="downloadLegend()" class="btn btn-primary"> Download Legend</button>
  </div>
</div>
<button id="btn-Convert-Html2Image" (click)="download()" class="btn btn-primary"><i class="fa fa-download"></i>
  Download All </button>
<button class="btn btn-primary">Save</button>
<canvas id="pdf-canvas" width="400"></canvas>