<div class="flex-container">
  <div class="row">
    <div class="card">
      <img src="{{imageUrl}}">
    </div>
    <div class="col">
      <div class="row description">
          <h3> <span class="badge badge-secondary">Image description</span></h3>
        <p>Name: {{imageDetails.filename}}</p>
        <p>Description: {{imageDetails.description}}</p>
        <p>Notes: {{imageDetails.notes}}</p>
        <p>Date & Time: {{imageDetails.datetime}}</p>
        <p>Latitude: {{imageDetails.location.latitude}}</p>
        <p>Longitude: {{imageDetails.location.longitude}}</p>
        <p>dFov: {{imageDetails.dFov}}</p>
        <p>PPM: {{imageDetails.ppm}}</p>
        <div class="row rating">
          Rating: <br>
            <bar-rating 
              [(rate)]="rate" 
              [max]="6" 
              [theme]="'stars'"  
              [showText]="true"
              (rateChange)="changeRating($event)"
              [titles]="['Very Bad', 'Bad' , 'Fair', 'Good', 'Very Good', 'Excellent']"
              ></bar-rating>
        </div>
      </div>
    </div>
  </div>

  <div class="legend">
    legend
  </div>
</div>

