.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: relative;
  width: 40%;
  height: auto;
  margin: 30px;
  max-width: 250px;
  float: left;
  box-shadow: 0 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
}


.flex-container{
  box-shadow: 10 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
margin-top: 50px;
margin-left: 120px;
margin-right: 50px;
max-width: 100%;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.legend{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 2px;
  float: left;
  box-shadow: 0 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 100px;
}


.rating{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: relative;
  cursor: pointer;
  width: 50%;
  height: auto;
  float: left;
  box-shadow: 0 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
  margin-top: 10px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.description{
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
  transition: box-shadow .5s;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  position: relative;
  width: 100%;
  height: auto;
  margin: 2px;
  float: left;
  box-shadow: 0 6px 6px rgba(10,16,20,.15),0 0 52px rgba(10,16,20,.12);
  margin-top: 26px;
  /* margin-right: 100px; */
  /* margin-bottom: 100px; */
}



