<!-- <div class="flex-container">
  <div style="text-align:center">
    <img  width="auto" alt="Jaram Logo" src="http://i64.tinypic.com/bj74ph.jpg">
  </div>
  <nav class="align-items-center">
    <button class="btn btn-primary" routerLink="/login" routerLinkActive="active">Login</button>
    <button class="btn btn-primary" routerLink="/register" routerLinkActive="active">Register</button>
    <button class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button class="btn btn-primary" routerLink="/admin-dashboard" routerLinkActive="active">Admin</button>
  </nav>
  <router-outlet></router-outlet>
</div>
 -->



<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

