<div class="card spaces">
  <img class="card-img-top" src="assets/studentIcon.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Staff ID: {{staff.id}}</p>
    <a class="btn btn-primary">Total Classes: {{staff.classes.length}}</a>
  </div>
</div>



<div class="flex-container">
  <form class="form-inline spaces md-form form-sm active-pink active-pink-2">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input name="searchClass" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search Class" aria-label="Search"
      [(ngModel)]="studentClass">
  </form>
  <div class="row">
    <div class="card" (click)="redirect(class)" *ngFor="let class of staff.classes| filterStudentClasses:studentClass">
      <img src="{{image}}" alt="Card image cap">
      <p class="badge">{{class}}</p>
    </div>
  </div>
</div>