<div class="jaram-nav" id="gallery">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#gallery" class="active">Gallery</a></li>
    <li><a href="#contact" class="disabled">Class</a></li>
    <li style="float:right"><a href="#sign-out">Sign out</a></li>
  </ul>
</div>


<!--<div class="container gallery-container">-->
  <!--<div class="tz-gallery">-->
    <!--<div class="row">-->

      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/park.jpg">-->
            <!--<img src="../../src/assets/images/park.jpg" alt="Park" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/bridge.jpg">-->
            <!--<img src="../../src/assets/images/bridge.jpg" alt="Bridge" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/tunnel.jpg">-->
            <!--<img src="../../src/assets/images/tunnel.jpg" alt="Tuneel" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/coast.jpg">-->
            <!--<img src="../../src/assets/images/coast.jpg" alt="Coast" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/rails.jpg">-->
            <!--<img src="../../src/assets/images/rails.jpg" alt="Rails" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
          <!--<a class="lightbox" href="../../src/assets/images/traffic.jpg">-->
            <!--<img src="../../src/assets/images/traffic.jpg" alt="Traffic" class="img-fluid">-->
          <!--</a>-->
          <!--<div class="caption">-->
            <!--<h3>Thumbnail label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

<!--</div>-->


<div class="card spaces">
    <img class="card-img-top" src="../../src/assets/studentIcon.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Student ID: {{student.id}}</p>
        <a class="btn btn-primary">Classes Enrolled: {{student.classes.length}}</a>
    </div>
</div>




<div class="flex-container">
        <form class="form-inline spaces md-form form-sm active-pink active-pink-2">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input name="searchClass" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search Class" aria-label="Search"
                    [(ngModel)]="studentClass">
            </form>
    <div class="row">
        <div class="card" (click)="redirect(class)" *ngFor="let class of student.classes| filterStudentClasses:studentClass">
            <img src="{{image}}" alt="Card image cap">
            <p class="badge">{{class}}</p>
        </div>
    </div>
</div>



<!-- <div>
    <div class="container">
        <div class="text-center">
            <h1>Angular 2 - Pagination Example with logic like Google</h1>

            <div *ngFor="let item of pagedItems">{{item.name}}</div>

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->



<router-outlet></router-outlet>
