<div class="card">
    <img class="card-img-top" src="assets/studentIcon.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Student ID: {{student.id}}</p>
        <a class="btn btn-primary">Classes Enrolled: {{student.classes.length}}</a>
    </div>
</div>


<form class="form-inline md-form form-sm active-pink active-pink-2">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input name="searchClass" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search Class" aria-label="Search"
        [(ngModel)]="studentClass">
</form>

<div class="flex-container">
    <div class="row">
        <div class="card" (click)="redirect(class)" *ngFor="let class of student.classes| filterStudentClasses:studentClass">
            <img src="{{image}}" alt="Card image cap">
            <p class="badge">{{class}}</p>
        </div>
    </div>
</div>



<!-- <div>
    <div class="container">
        <div class="text-center">
            <h1>Angular 2 - Pagination Example with logic like Google</h1>

            <div *ngFor="let item of pagedItems">{{item.name}}</div>

            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div> -->



<router-outlet></router-outlet>