<br>
<br>

<div class="flex-container">
  <div class="row">
    <div class="col-auto" *ngFor="let student of students; let j = index">
      <div *ngFor="let image of student.images; let i = index" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> {{student.class}}  {{i+1}}</p>
        </div>
        <label class="btn btn-primary" (click)="redirect(j,i)">Student id: {{student.id}}</label>        
      </div>
    </div>
  </div>
</div>